.force20-div{
    height: 100px;
    line-height: 100px;
}
input[type=checkbox]{
    width: 80px;
    height: 80px;
    margin: 10px 0 0 134px;
    border: 2px solid black;
    accent-color: #f72585;
}
.ckbx-text{
    font-size: 72px;
    vertical-align: top;
}
table{
    border: 1px, solid, black;
}
#th0{
    width: 40px;
    height: 60px;
}
#th1{
    width: 60px;
}
#th2{
    color: black;
}
#th3{
    width: 140px;
}
#th4{
    width: 100px;
}
#th7{
    width: 100px;
}
#th5, #th6, #th8, #th9{
    width: 140px;
}
th{
    border: 1px, solid, black;
}
td{
    height: 32px;
    border: 1px, solid, black;
    text-align: center;
}

button{
    width: 98%;
    height: 98%;
}

.sites{
    margin: 24px 0 96px 120px;
}
.sites a{
    line-height: 48px;
    font-size: 24px;
}